# Ignore everything
*

# Allow only .cpp files
!*.cpp
test.cpp
!.gitignore
!*.db

# Ignore .cpp files in specific directories (e.g., build output or intermediate files)
!/**/

# Ignore common Visual Studio build and temporary files
.vs/
*.exe
*.obj
*.log
*.dll
*.pdb
*.lib
*.idb
*.ipch
*.opendb
*.VC.db
*.VC.opendb
.DS_Store
*.user
*.suo
*.ilk
vcpkg_installed/
x64/


!static/
!static/**/*
!frontend/build/
!student_marks/*
frontend/node_modules/
